<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Сертификаты</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
<div class="container">
  <h4>Сертификаты эксперта: <span th:if="${expert != null}" th:text="${expert.Fname + ' ' + expert.Lname}"></span></h4>
  <table th:if="${expert != null && not #lists.isEmpty(expert.certificates)}" class="table">
    <thead>
    <tr>
      <th scope="col">Сертификат</th>
      <th scope="col">Дата создания</th>
      <th scope="col">Статус</th>
      <th scope="col">Дата завершения</th>
      <th scope="col">Действия</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="certificate : ${expert.certificates}">
      <td th:text="${certificate.form}"></td>
      <td th:text="${certificate.dateCertificate}"></td>
      <td th:text="${certificate.completed ? 'Завершено' : 'Не завершено'}"></td>
      <td th:text="${certificate.completionDate}"></td>
      <td>
        <a th:if="${not certificate.completed}"  th:href="@{'/certificates/complete/' + ${certificate.id}}"class="btn btn-outline-primary btn-sm">Завершить</a>

      </td>
    </tr>
    </tbody>
  </table>
  <p th:if="${expert == null}">Эксперт не найден.</p>
  <p th:if="${expert != null && #lists.isEmpty(expert.certificates)}">Нет сертификатов для отображения.</p>

  <div class="btn-group" role="group">
    <a th:href="@{/experts/add}" class="btn btn-primary">Добавить эксперта</a>
    <a th:href="@{/certificates/add}" class="btn btn-primary">Добавить сертификат</a>
    <a th:href="@{/select-expert}" class="btn btn-primary">Выбрать эксперта</a>
  </div>
</div>
</body>
</html>