<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Выбор эксперта</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
<h2>Выберите эксперта:</h2>
<form th:action="@{/select-expert}" method="post">
  <select name="expertId">
    <option th:each="expert : ${experts}" th:value="${expert.id}" th:text="${expert.Fname + ' ' + expert.Lname}"></option>
  </select>
  <input type="submit" value="Выбрать">
</form>
</body>
</html>