<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Добавление эксперта</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
<div class="container">
  <h2>Добавление эксперта</h2>
  <form th:action="@{/experts/add}" th:object="${expert}" method="post">
    <div class="form-group">
      <label for="name">Имя эксперта:</label>
      <input type="text" class="form-control" id="name" th:field="*{expert.Fname}" required>
    </div>
    <button type="submit" class="btn btn-primary">Добавить</button>
  </form>
</div>
</body>
</html>