<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Редактирование сертификата</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h2>Редактирование сертификата: <span th:text="${certificate.form}"></span></h2>
    <form th:action="@{/user/certificate/{id}/edit(id=${certificate.id})}" th:object="${certificate}" method="post">
        <input type="hidden" th:field="*{id}">
        <div class="form-group">
            <label for="form">Форма:</label>
            <input type="text" class="form-control" id="form" th:field="*{form}" required>
        </div>
        <div class="form-group">
            <label for="completed">Статус:</label>
            <select class="form-control" id="completed" th:field="*{completed}">
                <option value="true">Завершен</option>
                <option value="false">В работе</option>
            </select>
        </div>
        <div class="form-group">
            <label for="dateCertificate">Дата создания:</label>
            <input type="date" class="form-control" id="dateCertificate" th:field="*{dateCertificate}" required>
        </div>
        <button type="submit" class="btn btn-primary">Сохранить</button>
    </form>
</div>
</body>
</html>
