<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Список сертификатов</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h2>Список сертификатов</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Форма</th>
            <th>Статус</th>
            <th>Дата завершения</th>
            <th>Эксперт</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="certificate : ${certificates}">
            <td th:text="${certificate.form}"></td>
            <td th:text="${certificate.completed ? 'Завершен' : 'В работе'}"></td>
            <td th:text="${certificate.completionDate}"></td>
            <td th:text="${certificate.expert.Fname + ' ' + certificate.expert.Lname}"></td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/experts/add}" class="btn btn-primary">Добавить эксперта</a>
    <a th:href="@{/certificates/add}" class="btn btn-primary">Добавить сертификат</a>
    <a th:href="@{/select-expert}" class="btn btn-primary">Выбрать эксперта</a>
</div>
</body>
</html>