<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Удаление эксперта</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
<div class="container">
  <h2>Вы уверены, что хотите удалить эксперта: <span th:text="${expert.Fname + ' ' + expert.Lname}"></span>?</h2>
  <form th:action="@{/experts/{expertId}/delete}" th:object="${expert}" method="post">
    <input type="hidden" th:field="*{id}">
    <button type="submit" class="btn btn-danger">Удалить</button>
    <a th:href="@{/experts}" class="btn btn-secondary">Отмена</a>
  </form>
</div>
</body>
</html>