<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Редактирование эксперта</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
<div class="container">
  <h2>Редактирование эксперта: <span th:text="${expert.Fname + ' ' + expert.Lname}"></span></h2>
  <form th:action="@{/experts/{expertId}/edit}" th:object="${expert}" method="post">
    <input type="hidden" th:field="*{id}">
    <div class="form-group">
      <label for="Fname">Имя:</label>
      <input type="text" class="form-control" id="Fname" th:field="*{Fname}" required>
    </div>
    <div class="form-group">
      <label for="Lname">Фамилия:</label>
      <input type="text" class="form-control" id="Lname" th:field="*{Lname}" required>
    </div>
    <div class="form-group">
      <label for="dep">Отдел:</label>
      <input type="text" class="form-control" id="dep" th:field="*{dep}" required>
    </div>
    <button type="submit" class="btn btn-primary">Сохранить</button>
  </form>
</div>
</body>
</html>