<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Удаление сертификата</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
<div class="container">
  <h2>Вы уверены, что хотите удалить сертификат: <span th:text="${certificate.form}"></span>?</h2>
  <form th:action="@{/certificates/{certificateId}/delete}" th:object="${certificate}" method="post">
    <input type="hidden" th:field="*{id}">
    <button type="submit" class="btn btn-danger">Удалить</button>
    <a th:href="@{/certificates}" class="btn btn-secondary">Отмена</a>
  </form>
</div>
</body>
</html>