<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Редактирование сертификата</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h2>Редактирование сертификата: <span th:text="${certificate.form}"></span></h2>
    <form th:action="@{/certificates/{certificateId}/edit}" th:object="${certificate}" method="post">
        <input type="hidden" th:field="*{id}">
        <div class="form-group">
            <label for="form">Форма:</label>
            <input type="text" class="form-control" id="form" th:field="*{form}" required>
        </div>
        <div class="form-group">
            <label for="completed">Статус:</label>
            <select class="form-control" id="completed" th:field="*{completed}">
                <option value="true">Завершен</option>
                <option value="false">В работе</option>
            </select>
        </div>
        <div class="form-group">
            <label for="completionDate">Дата завершения:</label>
            <input type="date" class="form-control" id="completionDate" th:field="*{completionDate}" required>
        </div>
        <div class="form-group">
            <label for="expert">Эксперт:</label>
            <select class="form-control" id="expert" th:field="*{expert.id}">
                <option th:each="expert : ${experts}" th:value="${expert.id}" th:text="${expert.Fname + ' ' + expert.Lname}"></option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Сохранить</button>
    </form>
</div>
</body>
</html>
